@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'SourceSans3', 'Inter', 'ui-sans-serif', 'system-ui', 'sans-serif';
  background-color: var(--color-sage);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent body scrolling when menu is open */
body:has(.show-menu.overflowing) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}

body:has(.show-menu) .menu > div > div {
  padding-right: var(--scrollbar-width);
}

@layer base {
  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
    @apply text-softwhite;
  }
  h1 {
    @apply text-4xl;
    @apply mb-4;
  }
  h2 {
    @apply text-2xl font-normal;
    @apply mb-4;
  }
  h3 {
    @apply text-xl font-normal;
    @apply mb-2;
  }
  h4 {
    @apply text-lg font-normal;
  }
  h5 {
    @apply text-lg font-normal;
  }
  h6 {
    @apply text-lg font-normal;
  }

  blockquote {
    /* @apply font-bevan; */
    @apply text-2xl font-light leading-snug md:text-3xl md:leading-snug;
  }

  aside {
    @apply text-xl font-light leading-snug md:text-2xl md:leading-snug;
  }

  figcaption {
    @apply text-base font-light leading-snug md:text-lg md:leading-snug xl:text-xl;
  }

  p,
  a {
    @apply text-lg font-light leading-normal md:text-xl xl:text-2xl;
  }

  a {
    @apply text-apricot underline decoration-apricot decoration-1 underline-offset-4 transition duration-300 active:decoration-transparent hoverable:hover:decoration-transparent hoverable:hover:opacity-80;
  }

  footer a {
    @apply text-sm text-ink underline decoration-transparent decoration-1 underline-offset-4 transition-all duration-300 hoverable:hover:decoration-ink/60 hoverable:hover:opacity-80 md:whitespace-nowrap;
  }
}

@layer utilities {
  .logo-shadow {
    filter: drop-shadow(-4px 8px 8px theme('colors.softblack / 0.25'));
  }
  .btn-shadow {
    filter: drop-shadow(0 3px 6px theme('colors.softblack / 0.25'));
    @apply transition;
    transition-timing-function: ease-in-out;
  }
  .btn-shadow-hover {
    filter: drop-shadow(0 3px 6px theme('colors.softblack / 0.4'));
  }
  .menu-shadow {
    filter: drop-shadow(0 3px 6px theme('colors.softblack / 0.4'))
      drop-shadow(0 6px 12px theme('colors.softblack / 0.4')) drop-shadow(0 12px 24px theme('colors.softblack / 0.4'));
  }
  .menu-shadow:hover {
    filter: drop-shadow(0 3px 6px theme('colors.softblack / 0.3'))
      drop-shadow(0 6px 12px theme('colors.softblack / 0.3')) drop-shadow(0 12px 24px theme('colors.softblack / 0.3'));
  }
}
